<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>770447961328-3ufmhtq5k28u761ji420bno4bb7vsbdl.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.770447961328-3ufmhtq5k28u761ji420bno4bb7vsbdl</string>
	<key>API_KEY</key>
	<string>AIzaSyCJOfhTuJfDWbfIpUpZaiQOoi-G6VSvztQ</string>
	<key>GCM_SENDER_ID</key>
	<string>770447961328</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.habibullin.TestApp</string>
	<key>PROJECT_ID</key>
	<string>testapp-53d68</string>
	<key>STORAGE_BUCKET</key>
	<string>testapp-53d68.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:770447961328:ios:15b95ab772eabe5aeee635</string>
</dict>
</plist>